<ng-container *ngIf="!showSlideshow && (frame$ | async); let frame">
  <div class="light-gray-bg d-flex align-items-center justify-content-center" style="height: 7%">
    <h2>{{ frame.title }}</h2>
  </div>
  <div class="light-gray-bg d-flex align-items-end justify-content-end" style="height: 3%">
    <a (click)="onViewFrame()" class="clickable mr-2"><i class="fas fa-eye"></i> View Frame</a>
  </div>

  <div style="max-height: 75%; height: 75%; overflow-y: auto;">
    <app-frame-image-viewer [frame]="frame$ | async"></app-frame-image-viewer>
  </div>
  
  <div class="flex-grow-1 light-gray-bg">
    THis is text here other component will go here why is CSS so hard
  </div>
  <div *ngIf="frameNotFound">
    Couldn't find frame
  </div>
</ng-container>

<slideshow #slideshow id="slideshow" *ngIf="showSlideshow"
      [imageUrls]="frameImageUrls" 
      [showArrows]="false"
      [fullscreen]="slideshowFullscreen"
      [autoPlay]="true"
      [stopAutoPlayOnSlide]="false"></slideshow>