.sidenav-main-background {
    background-color: rgba(120, 45, 104, .8);
}

.sidenav-header-background {
    background-color: rgba(120, 45, 104, .9);
}

.clickable:hover {
    font-style: italic;
    text-decoration: underline;
}

.active { 
    background-color: rgba(120, 45, 104, 1);
    border-radius: 0px 30px 30px 0px;
}

.active:focus {
    outline: 0;
}