<div class="w-100 h-100 background-color font-color" id="topNav">
  <div class="d-flex align-items-center h-100">
    <div class="h-100 d-flex justify-content-center align-items-center ml-3 clickable button-clickable" (click)="onToggleSidenav()">
        <i class="fas fa-bars ml-3 mr-3" *ngIf="showHamburger"></i>
    </div>
    <div class="h-100 d-flex justify-content-center align-items-center clickable" routerLink="/home" routerLinkActive="active" style="width: 150px;">
      <i class="fas fa-space-shuttle ml-3 mr-3"></i>
      <a class="mr-3 d-none d-md-block">Home</a>
    </div>
    <div class="h-100 d-flex justify-content-center align-items-center clickable" routerLink="/frames" routerLinkActive="active" style="width: 150px;">
      <i class="fas fa-images ml-3 mr-3"></i>
      <a class="mr-3 d-none d-md-block">My Frames</a>
    </div>
    <div class="h-100 d-flex justify-content-center align-items-center clickable"style="width: 150px;"> 
        <i class="fas fa-camera ml-3 mr-3"></i>
      <a class="mr-3 d-none d-md-block">My Pictures</a>
    </div>
    <div dropdown [autoClose]="true" class="ml-auto mr-3 col-auto d-flex justify-content-end align-items-center clickable h-100" style="width: 150px;">
      <a id="account-dropdown-trigger" class="d-flex h-100 align-items-center justify-content-center" dropdownToggle (click)="false">
        <i class="fas fa-user-circle mr-2"></i>
        <span class="d-none d-md-block" >My Account</span>
        <span *ngIf="notifications.length > 0" class="badge ml-2 badge-pill badge-danger">{{ notifications.length }}</span>
      </a>
      <ul id="account-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="account-dropdown-trigger">
        <li role="menuitem" class="dropdown-item d-flex align-items-center" [routerLink]="['home', 'account']">
          <span>Manage</span>
          <i class="fas fa-user ml-auto"></i>
        </li>
        <li role="menuitem" class="dropdown-item d-flex align-items-center" [routerLink]="['home', 'notifications']">
          <span>Alerts</span>
          <span *ngIf="notifications.length > 0" class="badge ml-2 badge-pill badge-danger">{{ notifications.length }}</span>
          <i class="fas fa-bell ml-auto"></i>
        </li>
        <li role="menuitem" class="dropdown-item d-flex align-items-center" (click)="onLogout()">
          <span>Logout</span>
          <i class="fas fa-sign-out-alt ml-auto"></i>
        </li>
      </ul>
    </div>
  </div>
</div>