.bg-img {
    background-image: radial-gradient(rgb(64,4,51), rgb(178, 121, 165));
    background-image: -moz-radial-gradient(rgb(64,4,51,), rgb(178, 121, 165));
    background-image: -webkit-radial-gradient(rgb(64,4,51,), rgb(178, 121, 165));
}