    
<div class="progress" *ngIf="percentages$ | async; let percent">
   <div class="progress-bar" role="progressbar" [style.width.%]="percent"></div>
</div>

<div class="d-flex flex-wrap mt-2">
   <div class="col-md-4 col-sm-12 col-xl-3">
      <ngx-dropzone style="height: 200px" (filesAdded)="onFilesAdded($event)" [multiple]="true"
         [accept]="'image/jpeg,image/png'" [preserveFiles]="false" [label]="'Drag files (or click)'"></ngx-dropzone>
   </div>

   <div class="d-flex flex-column align-items-start mr-5" *ngFor="let group of groupedImages">
      <span><em>{{ group.key }}</em></span>
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let image of group.Images">
          <div class="image-container ml-1 mr-1">
            <img [src]="image.downloadPath" style="height: 250px; width: auto;">
            <div class="overlay" *ngIf="ownedFrameIds.includes(_frame.id) || image.ownerId === userId">
              <i class="fas fa-trash content clickable" (click)="onRemoveImage(image.imageId, image.id)"></i>
            </div>
          </div>
        </ng-container>
      </div>
   </div>
</div>