.opaque-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .3;
    z-index: 9;
}

.notification-nav {
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: whitesmoke;
    top: 0;
    overflow-y: auto;
}

@media only screen and (max-width: 379px) {
    .notification-nav {
        width: 100vw;
        left: 0;
    }
}

@media only screen and (min-width: 380px) {
    .notification-nav {
        width: 380px;
        left: calc(100vw - 380px);;
    }
}

.notification-header {
    background: rgba(120, 45, 104, .8);
    padding-left: 16px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    height: 48px;
    min-height: 48px;
}