USE [LaunchpadFrame]
GO
ALTER TABLE [dbo].[FrameManagers] DROP CONSTRAINT [FK_FrameManagers_Users]
GO
/****** Object:  Table [dbo].[FrameManagers]    Script Date: 12/19/2018 3:21:00 PM ******/
DROP TABLE [dbo].[FrameManagers]
GO
/****** Object:  Table [dbo].[FrameManagers]    Script Date: 12/19/2018 3:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrameManagers](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_FrameManagers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FrameManagers]  WITH CHECK ADD  CONSTRAINT [FK_FrameManagers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FrameManagers] CHECK CONSTRAINT [FK_FrameManagers_Users]
GO
