<lib-angular-collapse class="col-xl-9 align-self-center mt-2">
  <div header>Invite New Users</div>
  <div body>
    <div class="d-flex flex-wrap">
      <app-user-add class="col-xl-6" (usernames)="onNewUsernames($event)"></app-user-add>
      <div class="p-0 mr-2" *ngFor="let username of usernamesToAdd">
        <app-removable-pill [username]="username" nameCutoff="10" (remove)="onRemoveUsername(username)">
        </app-removable-pill>
      </div>
      <button type="button" class="btn btn-primary btn-small ml-auto" *ngIf="usernamesToAdd.length > 0">Invite</button>
    </div>
  </div>
</lib-angular-collapse>



<div class="col-xl-9 align-self-center mt-2 d-flex flex-wrap" *ngIf="usernames.length > 0">
  <span class="mr-2">Pending Invites:</span>
  <app-removable-pill [username]="pendingUsername" *ngFor="let pendingUsername of usernames"></app-removable-pill>
</div>

<div class="col-xl-9 align-self-center mt-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Joined</th>
        <th scope="col">Pictures</th>
        <th scope="col" *ngIf="frameUserInfo.users[userId].role === 'owner'">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uid of objectKeys(frameUserInfo.users); let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ frameUserInfo.users[uid].username }}</td>
        <td>{{ frameUserInfo.users[uid].joined | date }}</td>
        <td>{{ frameUserInfo.users[uid].pictureCount }}</td>
        <td *ngIf="frameUserInfo.users[userId].role === 'owner'">
            <i class="fas fa-trash clickable invalid-text"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
