<div class="opaque-gray-panel-bg d-flex flex-column login-panel-sizing align-items-center">
  <span class="login-panel-label mb-4">Create an Account</span>
  <input type="text" class="w-50 mb-4 login-panel-input" placeholder="  Email Address">
  <input type="text" class="w-50 mb-4 login-panel-input" placeholder="  First Name">
  <input type="text" class="w-50 mb-4 login-panel-input" placeholder="  Last Name">
  <input type="password" class="w-50 mb-4 login-panel-input" placeholder="  Password">
  <input type="password" class="w-50 mb-4 login-panel-input" placeholder="  Confirm Password">
  <button type="button" class="btn w-50 login-panel-button mb-2">Create Account</button>
  <a [routerLink]="['/login']" class="create-account-link mb-5">Log in with existing account</a>
</div>