<div class="opaque-gray-panel-bg d-flex flex-column login-panel-sizing align-items-center">
    <span class="login-panel-label mb-4">Create an Account</span>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="d-flex flex-column w-100 justify-content-center align-items-center">

        <div class="form-group w-50 mb-4">
          <input type="text" class="login-panel-input mb-1 w-100" formControlName="emailInput" required placeholder="Email Address"
            [ngClass]="{ 'invalid-input': emailCtrl.errors && submitted }">
          <span *ngIf="submitted && emailCtrl.errors && emailCtrl.errors.required" class="invalid-text">Email is Required</span>
          <span *ngIf="submitted && emailCtrl.errors && emailCtrl.errors.email" class="invalid-text">Invalid Email Format</span>
        </div>

        <div class="form-group w-50 mb-4">
            <input type="text" class="login-panel-input mb-1 w-100" formControlName="firstNameInput" required placeholder="First Name"
              [ngClass]="{ 'invalid-input': firstNameCtrl.errors && submitted }">
            <span *ngIf="submitted && firstNameCtrl.errors && firstNameCtrl.errors.required" class="invalid-text">First Name is Required</span>
          </div>

          <div class="form-group w-50 mb-4">
              <input type="text" class="login-panel-input mb-1 w-100" formControlName="lastNameInput" required placeholder="Last Name"
                [ngClass]="{ 'invalid-input': lastNameCtrl.errors && submitted }">
                <span *ngIf="submitted && lastNameCtrl.errors && lastNameCtrl.errors.required" class="invalid-text">Last Name is Required</span>
            </div>
    
        <div class="form-group w-50 mb-4">
          <input type="password" class="login-panel-input w-100" formControlName="passwordInput" placeholder="Password"
            [ngClass]="{ 'invalid-input': passwordCtrl.errors && submitted }">
          <span *ngIf="submitted && passwordCtrl.errors && passwordCtrl.errors.required" class="invalid-text">Password is Required</span>
        </div>

        <div class="form-group w-50 mb-4">
            <input type="password" class="login-panel-input w-100" formControlName="passwordConfirmInput" placeholder="Confirm Password"
              [ngClass]="{ 'invalid-input': passwordConfirmCtrl.errors && submitted }">
            <span *ngIf="submitted && passwordConfirmCtrl.errors && passwordConfirmCtrl.errors.required" class="invalid-text">Password is Required</span>
          </div>
    
        <button type="submit" class="btn w-50 login-panel-button mb-2">Create Account</button>
      </form>
  <a [routerLink]="['/login']" class="create-account-link mb-5">Log in with existing account</a>
</div>