<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="mt-2 d-flex flex-column col-12 col-xl-3 align-items-center"
      *ngFor="let notification of (notifications$ | async)">
      <div class="card">
        <div class="card-header secondary-puprle-bg">
          <span *ngIf="notification.type === 1 && notification.action === 1">You've been invited to join a new
            frame!</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Join <em>{{ notification.frameName }}?</em></h5>
          <div class="card-text d-flex flex-column">
            <div class="mb-2">{{ notification.fromusername }} has invited you to join a new frame!</div>
            <div class="d-flex justify-content-between align-items-center">
              <a class="text-success clickable" (click)="onAccept(notification)"><i class="far fa-check-circle"></i>
                Join</a>
              <a class="text-danger clickable"><i class="far fa-times-circle"></i> Pass</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>