/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
}

.opaque-gray-panel-bg {
    background-color: rgba(189, 197, 191, .5); /* need to set opacity through this function so that text inside won't be effected by it */
}

.login-panel-sizing {
    width: 50vw;
    height: 60vh;
}

.login-panel-label {
    color: black;
    font-size: 2vw;
}

.login-panel-button {
    background-color: #dd2828;
    color: black;
}

.create-account-link {
    color: black;
    text-decoration: underline;
}

.login-panel-input {
    line-height: 2.2vw;
    font-size: 1.2vw;
}